<!-- Page top section -->
<section class="page-top-section set-bg contact">
    <div class="container text-white">
        <h2>Contáctenos</h2>
    </div>
</section>
<!--  Page top end -->

<!-- Breadcrumb -->
<div class="site-breadcrumb">
    <div class="container">
        <a href=""><i class="fa fa-home"></i>Inicio</a>
        <span><i class="fa fa-angle-right"></i>Contáctenos</span>
    </div>
</div>
<!-- page -->
<section class="page-section blog-page">
    <div class="container">
        <div class="map-canvas">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3378.854286322735!2d-75.23650278557855!3d-12.030049244864184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910ebdf0439572c1%3A0x30051e95f899f005!2sMariscal%20Castilla%204018%2C%20Huancayo%2012006!5e1!3m2!1ses-419!2spe!4v1581258827612!5m2!1ses-419!2spe"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="contact-info-warp">
            <p><i class="fa fa-map-marker"></i>Av. Mariscal Castilla N°4018, El Tambo - Huancayo</p>
            <p><i class="fa fa-envelope"></i>aromas@gmail.com</p>
            <p><i class="fa fa-phone"></i>(+51) 912 809 319</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="../../../assets/img/contact.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="contact-right">
                    <div class="section-title">
                        <h3>Envíanos un mensaje</h3>
                        <p>Atención 24 hrs, Av. Mariscal castilla N° 4018, El Tambo - Huancayo</p>
                    </div>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Nombres">
                            </div>
                            <div class="col-md-6">
                                <input type="email" placeholder="Email">
                            </div>
                            <div class="col-md-12">
                                <textarea placeholder="Mensaje"></textarea>
                                <button class="site-btn">Enviar ahora</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page end -->