<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header section -->
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 header-top-left">
                    <div class="top-info">
                        <i class="fa fa-phone"></i> (+51) 912 809 319
                    </div>
                    <div class="top-info">
                        <i class="fa fa-envelope"></i> aromas@gmail.com
                    </div>
                </div>
                <div class="col-lg-6 text-lg-right header-top-right">
                    <div class="top-social">
                        <a href="https://www.facebook.com/HostalAromas"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/HotelAromas1"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/HostalAromas"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="user-panel">
                        <a href=""><i class="fa fa-user-circle-o"></i> Register</a>
                        <a href=""><i class="fa fa-sign-in"></i> Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-navbar">
                    <a href="#" class="site-logo"><img src="../../../assets/img/logo.png" alt=""></a>
                    <div class="nav-switch">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="main-menu">
                        <li><a routerLink="/inicio">Inicio</a></li>
                        <li><a routerLink="/habitaciones">Habitaciones</a></li>
                        <li><a routerLink="/nosotros">Nosotros</a></li>
                        <li><a routerLink="/contactenos">Contáctenos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header section end -->