<!-- Page top section -->
<section class="page-top-section set-bg about">
    <div class="container text-white">
        <h2>Nosotros</h2>
    </div>
</section>
<!--  Page top end -->

<!-- Breadcrumb -->
<div class="site-breadcrumb">
    <div class="container">
        <a routerLink="/inicio"><i class="fa fa-home"></i>Inicio</a>
        <span><i class="fa fa-angle-right"></i>Nosotros</span>
    </div>
</div>

<!-- page -->
<section class="page-section">
    <div class="container">
        <img class="mb-5 about-img " src="../../../assets/img/about1.png" alt="">
        <div class="row about-text">
            <div class="col-xl-6 about-text-left">
                <h5>Misión</h5>
                <p>Nuestra misión como hostal es brindar siempre el mejor de los servicios, con la excelencia en la calidad para satisfacer a nuestros clientes, conseguir que se sientan en un ambiente de comodidad, tranquilidad y total seguridad. Que el
                    hostal sea un verdadero lugar de descanso para que se sientan a gusto y con todas las atenciones que se merecen.</p>
                <!-- <p>Ut vel auctor ligula. Aenean nec dui pretium, commodo ligula sit amet, faucibus purus. Mauris at dolor imperdiet, aliquet nisi non, vulputate est. Maecenas feugiat sagittis lacus. Mauris dinissim consequat tellus id congue. Mauris bendum -->
                <!-- mollis viverra. Vestibulum in leo placerat sollicitudin varius.</p> -->
            </div>
            <div class="col-xl-6 about-text-right">
                <h5>Visión</h5>
                <p>El AROMA´S Hostal tiene la visión de lograr un liderazgo dentro del grupo de hostales del mismo nivel. Tenemos la visión de ser el mejor hostal en nuestro medio, y como tal ubicarnos como el preferido de nuestros turistas. La calidad de
                    servicio está basado en los años de experiencia adquiridos por los propietarios, socios y trabajadores.</p>
                <h5>Valores</h5>
                <ul class="about-list">
                    <li><i class="fa fa-check-circle-o"></i>Exigencias diarias para mantener el orden y la limpieza.</li>
                    <li><i class="fa fa-check-circle-o"></i>Puntualidad, responsabilidad, honradez y amor al trabajo con la finalidad de tener una empresa de calidad totalmente dispuesta al servicio de nuestros clientes. </li>
                    <li><i class="fa fa-check-circle-o"></i>Tenemos el compromiso del absoluto respeto y buena comunicación.</li>
                    <li><i class="fa fa-check-circle-o"></i>Trabajo en equipo y una debida orientación a nuestros clientes.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- page end -->