<!-- Footer section -->
<footer class="footer-section set-bg footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 footer-widget">
                <img src="../../../assets/img/logo.png" alt="">
                <p>Nuestro Hostal en Huancayo cuenta con toda las comodidades para hacer de tu estadía una noche inolvidable.</p>
                <div class="social">
                    <a href="https://www.facebook.com/HostalAromas"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/HotelAromas1"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/HostalAromas"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-widget">
                <div class="contact-widget">
                    <h5 class="fw-title">CONTACT US</h5>
                    <p><i class="fa fa-map-marker"></i>Av. Mariscal Castilla N°4018, El Tambo - Huancayo </p>
                    <p><i class="fa fa-phone"></i>(+51) 912 809 319</p>
                    <p><i class="fa fa-envelope"></i>aromas@gmail.com</p>
                    <p><i class="fa fa-clock-o"></i>Atención las 24 Horas </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 footer-widget">
                <div class="double-menu-widget">
                    <h5 class="fw-title">Lugares turísticos cercanos</h5>
                    <ul>
                        <li><a href="">Huaytapallana</a></li>
                        <li><a href="">Huarihuilca</a></li>
                        <li><a href="">Parque de la identidad Huanca</a></li>
                        <li><a href="">Torre Torre</a></li>
                        <li><a href="">Plaza de constitución</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6  footer-widget">
                <div class="newslatter-widget">
                    <h5 class="fw-title">Escríbanos</h5>
                    <p>Suscríbase a su correo electrónico para recibir las últimas noticias.</p>
                    <form class="footer-newslatter-form">
                        <input type="text" placeholder="Email address">
                        <button><i class="fa fa-send"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-nav">
                <ul>
                    <li><a routerLink="/inicio">Inicio</a></li>
                    <li><a routerLink="/habitaciones">Habitaciones</a></li>
                    <li><a routerLink="/nosotros">Nosotros</a></li>
                    <li><a routerLink="/contactenos">Contáctenos</a></li>
                </ul>
            </div>
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> Aroma's | 2020 <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">RedSoft</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->